<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: lightgray;
      }
    </style>
  </head>
  <body>
    <h1>Tour Bookings</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Mobile Number</th>
      </tr>
      {% for booking in bookings %}
      <tr>
        <td>{{ booking['name'] }}</td>
        <td>{{ booking['tel'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
